#AdminPage
nav {
  background: #139CF8;
  padding: 20px;
  color: #fff;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#AdminPage
nav span {
  font-size: 30px;
}

#AdminPage
nav button {
  width: 100px;
  cursor: pointer;
}

section h1 {
  text-align: center;
  font-size: 55px;
}

section .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section .total p {
  margin-right: 10px;
}

section table {
  width: 80%;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 50px;
}

section table th {
  height: 60px;
  border: 1px solid black;
  width: 400px;
  background: #139CF8;
  color: #fafafa;
  font-size: 30px;
}

section table tr {
  border: 1px solid black;
}

section table tr td {
  padding: 10px;
  border: 1px solid black;
}

section table tr .cost, section table tr .instock, section table tr .restock {
  font-size: 40px;
}

section table tr .cost label, section table tr .instock label, section table tr .restock label {
  background: rgba(250, 250, 250, 0.8);
  padding: 10px 0px 10px 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid black;
  border-right: none;
}

section table tr .cost input[type=text], section table tr .instock input[type=text], section table tr .restock input[type=text] {
  background: rgba(250, 250, 250, 0.8);
  border: 1px solid black;
  border-left: none;
  font-size: 40px;
  text-align: center;
  width: 100px;
  padding: 10px 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: none;
}

section table tr .cost input[type=submit], section table tr .instock input[type=submit], section table tr .restock input[type=submit] {
  display: block;
  margin: auto;
  margin-top: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fafafa;
  background: #139CF8;
  border-radius: 20px;
  cursor: pointer;
}

section table tr .cost input[type=submit]:active, section table tr .instock input[type=submit]:active, section table tr .restock input[type=submit]:active {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

section table tr .restock input[type=text] {
  border-radius: 20px;
  border: 1px solid black;
}

section table tr .soda_box {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none;
  /* Standard syntax */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  text-align: left;
  -webkit-transition: 0.075s;
  transition: 0.075s;
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 50px -20px #000000;
  box-shadow: 5px 5px 50px -20px #000000;
  background: rgba(250, 250, 250, 0.5);
}

section table tr .soda_box .plusSign {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

section table tr .soda_box .plusSign .plusLogo {
  width: 100px;
  height: 100px;
}

section table tr .soda_box:active {
  -webkit-transform: translate(0, 10%);
          transform: translate(0, 10%);
}

section table tr .soda_box img {
  width: 70px;
  height: 140px;
  filter: drop-shadow(3px 3px 3px #666666);
  -webkit-filter: drop-shadow(3px 3px 3px #666666);
}

section table tr .soda_box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 20px 0;
}

section table tr .soda_box div .description {
  color: #222;
  font-size: 20px;
}

section table tr .soda_box div .price {
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  color: #222222;
}

.warning-text {
  display: none;
}

@media screen and (max-width: 932px) {
  section {
    display: none;
  }
  .warning-text {
    display: block;
    text-align: center;
    margin-top: 45%;
    padding: 20px;
    color: #444444;
    font-style: italic;
  }
}
/*# sourceMappingURL=AdminPage.css.map */