@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
nav
{
    background: #139CF8;
    padding: 20px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    span
    {
        font-size: 30px;
    }
    button
    {
        width: 100px;
        cursor: pointer;
    }
}
.warning-text
    {
        display: none;
    }
section
{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .cash
    {
        position: absolute;
        top:10px;
        right:10px;
        display: flex;
        align-items: center;
        span
        {
            margin-right: 10px;
            font-size: 20px;
        }
        button
        {
            cursor: pointer;
            background: #139CF8;
            color: #fafafa;
            font-size: 15px;
            padding: 4px 10px;
            border-radius: 20px;
            &:active
            {
                transform: translate(0, 10%);
            }
        }
    }
    .main
    {
        display: flex;
        padding: 50px;
        .vengindImg
        {
            width: 400px;
            height: 700px;
        }
        .action
        {
            display: flex;
            flex-direction: column;
            .soda_buttons
            {
                display: flex;
                // justify-content: center;
                flex-wrap: wrap;
                overflow: scroll;
                padding: 0 50px;
                height: 500px;
                border: solid 5px hsla(0, 95%, 35%, 1);
                border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
                padding:1em;
                line-height:1.5em;
                background:rgb(255, 255, 255);
                &::-webkit-scrollbar {
                    display: none;
                    }
                .soda_box
                {
                    -webkit-user-select: none; /* Safari */
                    -ms-user-select: none; /* IE 10 and IE 11 */
                    user-select: none; /* Standard syntax */
                    display: flex;
                    padding: 20px;
                    margin: 0 20px 20px 0;
                    transition: 0.075s;
                    width: 400px;
                    height: fit-content;
                    cursor: pointer;
                    border-radius: 20px;
                    -webkit-box-shadow: 5px 5px 50px -20px #000000; 
                    box-shadow: 5px 5px 50px -20px #000000;
                    background: rgba(#fafafa, 0.5);
                    img
                    {
                        width: 70px;
                        height: 140px;
                        filter: drop-shadow(3px 3px 3px #666666);
                    -webkit-filter: drop-shadow(3px 3px 3px #666666);
                    }
                    div
                    {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 20px 20px 0;
                        .description
                        {
                            color: #222;
                            font-size: 20px;
                        }
                        .price
                        {
                            font-size: 20px;
                            font-weight: bold;
                            margin-left: auto;
                            color: #222222;

                            
                        }
                    }
                    &:active
                    {
                        margin-top: 15px;
                        margin-bottom: 5px;
                    }
                }
            }
            .cart
            {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                width: 100%;
                .display
                {
                    border: 5px solid #222222;
                    background: rgba(#01C3FF, 0.8);
                    padding: 20px 0px;
                    text-align: center;
                    width: 340px;
                    font-family: 'Orbitron', sans-serif;
                    font-size: 50px;
                    margin-right: 20px;
                }
                .tray
                {
                    max-width: 1060px;
                    width: 100%;
                    border: 10px solid #D0D1CB;
                    background: #3d3d3d;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    overflow: scroll;
                    &::-webkit-scrollbar {
                    display: none;
                    }
                    .selection
                    {
                        display: flex;
                        color: white;
                        align-items: center;
                        margin-right: 10px;
                        img
                        {
                            width: 35px;
                            height: 70px;
                            margin-right: 10px;
                        }

                    }
                }
            }
            #Buy
            {
                font-size: 40px;
                // background: #9af752;
                margin-top: 10px;
                padding: 10px;
                border: solid 5px hsla(0, 95%, 35%, 1);
                border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
                cursor: pointer;
                background: #e7db29;
                opacity: 0.8;
                transition: 0.5s;
                &:hover
                {
                    opacity: 1;
                }
                &:active
                {
                    margin-top: 20px;
                }

            }
        }
    }
}
@media screen and (max-width: 932px)
{
    section
    {
        display: none;
    }
    .warning-text
    {
        display: block;
        text-align: center;
        margin-top: 45%;
        padding: 20px;
        color: #444444;
        font-style: italic;
    }
} 